<section class="hero text-center">
	<div class="vert-container">
		<div class="container">
			<h1>We work with good companies, that appreciate great work.</h1>
			<h3>Our approach to web development is based on our in-depth knowledge of digital persuasion.</h3>
		</div>
	</div>
</section>