<section class="hero text-center">
	<div class="vert-container">
		<div class="container">
			<div class="site-logo">
				<div class="logo"><h1>Edward Marshall</h1></div>
			</div>
			<div class="message">
				<h1>We work with good companies, doing great things.</h1>
				<h3>Our approach to web development is based on our in-depth knowledge of digital persuasion.</h3>
			</div>
			<div class="clients">
			</div>
		</div>
	</div>
</section>